:root {
  --heading-color: #5f5dbd;
  --second-color: #57385c;
  --main-font-family: "Roboto Mono", monospace;
  --accent-color: #a75265;
  --box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
  --background-about-color: #fcf4d9;
  --heading-font-family: "Dancing Script", cursive;
}
body {
  padding-top: 75px;
  margin-top: 100px;
  margin: 0;
  background: var(--second-color);
}
h1 {
  color: var(--heading-color);
  font-family: var(--heading-font-family);
  text-align: center;
}
h3,
h5 {
  color: var(--second-color);
}
h2,
h4 {
  color: var(--background-about-color);
}
.lastname {
  font-size: 50px;
}
.container {
  font-family: var(--main-font-family);
  text-align: center;
}
.skills {
  color: var(--accent-color);
}
.navigation-links {
  display: flex;
  margin-top: 40px;
  justify-content: center;
}
.navigation-links a {
  margin: 20px;
  border-radius: 4px;
  padding: 20px 15px;
  text-decoration: none;
}
.contact-link {
  background: var(--heading-color);
  box-shadow: var(--box-shadow);
  color: white;
}
a:-webkit-any-link {
  cursor: pointer;
}
.about-link {
  color: var(--heading-color);
  border: 1px solid var(--heading-color);
}
.contact {
  color: var(--accent-color);
}
.about-paragraphs {
  display: flex;
  margin: 30px 0;
}
.about-paragraphs p {
  margin: 10px;
}
p {
  background: var(--background-about-color);
  text-color: white;
  padding: 20px;
  border-radius: 4px;
  font-size: 18px;
  line-height: 30px;
  text-align: center;
}
p {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}
.hero {
  background: var(--background-about-color);
  border-radius: 10px;
  padding: 100px;
}
@media (max-width: 900px) {
  h1 {
    font-size: large;
  }
  h2 {
    padding-top: 10px;
    font-size: medium;
  }

  .stand-with-ua {
    display: none;
  }
  h3,
  h4,
  h5 {
    font-size: medium;
  }
  p {
    display: block;
    text-align: center;
    font-size: small;
    margin-bottom: 5px;
  }
  a {
    display: block;
    margin: 0;
    text-align: center;
  }
  .hero {
    padding: 60px;
  }
}
.primary-link-button {
  border-radius: 4px;
  padding: 20px 15px;
  text-decoration: none;
  text-transform: capitalize;
  background: var(--heading-color);
  box-shadow: var(--box-shadow);
  color: white;
}
.image-fluid {
  border-radius: 10px;
  width: 50%;
}
.about-hero {
  margin: 20px;
}
